<div class="container">
  <div class="helpers-list">
    <div *ngFor="let helper of filteredHelpers() || all_helpers" class="helper-card"
      [ngClass]="{ 'selected': helper === selectedHelper }" (click)="selectHelper(helper)">
      <div class="profilephoto">
        <ng-container *ngIf="hasProfileImage(helper.fields); else initialsBlock">
          <img *ngIf="hasProfileImage(helper.fields); else initialsBlock" [src]="getProfileImageUrl(helper.fields)">

        </ng-container>
        <ng-template #initialsBlock>
          {{ getFieldValue(helper.fields, 'fullName') | slice:0:2 }}
        </ng-template>
      </div>
      <div class="detail">
        <p>{{ getFieldValue(helper.fields, 'fullName') }}</p>
        <span>{{ getFieldValue(helper.fields, 'serviceType') }}</span>
      </div>
      <span>0 Households</span>
    </div>
  </div>

  <ng-template #noHelperSelected>
    <div class="nohelpers">
      <p>No helper with the selected filters.</p>
    </div>
  </ng-template>
  <div class="profile-card" *ngIf="selectedHelper; else noHelperSelected">
    <div class="profile-card-content">

      <div class="profile-header">
        <div class="left-section">
          <div class="profile-pic">
            <ng-container *ngIf="hasProfileImage(selectedHelper.fields); else initialsBlock">
              <img [src]="getProfileImageUrl(selectedHelper.fields)" alt="profile photo">
            </ng-container>
            <ng-template #initialsBlock>
              <div class="initials">
                {{ getFieldValue(selectedHelper.fields, 'fullName') | slice:0:2 }}
              </div>
            </ng-template>
          </div>
          <div class="name-role">
            <div class="name">{{ getFieldValue(selectedHelper.fields, 'fullName') }}</div>
            <div class="role">{{ getFieldValue(selectedHelper.fields, 'serviceType') }}</div>
          </div>
        </div>


        <div class="options">
          <button (click)="editHelper(selectedHelper)"><img src="assets/images/edit.png" alt="edit"></button>
          <button mat-raised-button color="warn" (click)="deleteHelper(selectedHelper)"><img
              src="assets/images/delete.png" alt="delete"></button>
        </div>
      </div>

      <div class="section">
        <h4>Employee ID</h4>
        <div class="item">
          <span>Identification Card</span>
          <a href="javascript:void(0)" (click)="openIdCard(selectedHelper)">View</a>
        </div>
        <div class="item">
          <span>Employee Code</span>
          <span>{{ selectedHelper.emp_id}}</span>
        </div>
      </div>

      <div class="section">
        <h4>Personal Details</h4>
        <div class="item">
          <span>Gender</span>
          <span>{{ getFieldValue(selectedHelper.fields, 'gender') }}</span>
        </div>
        <div class="item">
          <span>Language(s)</span>
          <span>{{ getFieldValue(selectedHelper.fields, 'languages')}}</span>
        </div>
        <div class="item">
          <span>Mobile No.</span>
          <span>{{ getFieldValue(selectedHelper.fields, 'phone') }}</span>
        </div>
        <div class="item">
          <span>Email ID</span>
          <span>{{ getFieldValue(selectedHelper.fields, 'email')}}</span>
        </div>
        <div class="item">
          <span>KYC Document</span>
          <a href="" target="_blank">View</a>
        </div>
      </div>

      <div class="section">
        <h4>Service Details</h4>
        <div class="item">
          <span>Type</span>
          <span>{{ getFieldValue(selectedHelper.fields, 'serviceType') }}</span>
        </div>
        <div class="item">
          <span>Organization</span>
          <span>{{ getFieldValue(selectedHelper.fields, 'organization') }}</span>
        </div>
        <div class="item">
          <span>Joined On</span>
          <span>{{ getFieldValue(selectedHelper.fields, 'joiningDate') }}</span>
        </div>
      </div>

    </div>

  </div>

</div>