p{
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: 600;
}

mat-form-field{

    margin-bottom: 1rem;

    mat-label{
        font-size: 14.5px;
    }
}

.full-width {
  width: 100%;
  background-color: white;
}