body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 390px;
    width: 590px;
    margin-top: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
  }

  .id-card {
    /* border: 1px solid #ccc; */
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px 0px !important;
  }

  .left-container {
    width: 250px;
  }

  .right-container {
    padding-top: 20px;
    width: 250px;
  }

  .helper-photo {
    text-align: center;
    font-size: 14px;
    color: #777;
  }

  .banner {
    margin-top: 20px;
  }

  .warning {
    font-size: 12px;
    color: black;
    margin-top: 10px;
  }

  .employee-photo-url {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: 5px;
  }

  .helper-meta-data {
    text-align: center;
  }

  .helper-heading {
    text-align: center;
    font-size: 18px;
    color: darkblue;
    font-weight: bold;
  }

  .helper-service-type {
    color: rgb(59, 59, 244);
    margin-top: -10px;
  }

  .helper-employee-id {
    color: #ff6700;
    margin-top: -10px;
    font-weight: 600;
  }

  #QrCodePlaceHolder {
    margin-top: -10px;
    text-align: center;
  }

  #QrCode2PlaceHolder {
    text-align: center;
    margin-top: 10px;
  }

  .asbl-banner-left-footer-container {
    background-color: #ff6700;
    text-align: center;
    margin-bottom: 5px;
  }

  .asbl-springs-image {
    height: 30px;
    width: auto;
  }

  .right-banner-container {
    background-color: #ff6700;
    text-align: center;
  }

  .asbl-banner-image {
    height: 30px;
    width: auto;
  }

  .employee-details-container {
    margin-top: 15px;
    background-color: #ff6700;
    color: white;
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
  }