.addHelperpage{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    
    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }
}

.excelbtn{
  background-color: #673ab7;
  width: 53.5vw;
  margin-top: 60px;
  margin-left: 35px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seperation{
  display: flex;
  margin-top: 20px;
  margin-bottom: -15px;
  padding: 0px 13px;
  
  .orSpan{
    width: 2vw;
    margin: auto;
    color: #673ab7;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: -9px;
  }
  .sepline{
    height: 1.45px;
    width: 45%;
    background-color: rgb(218, 218, 218);
    margin-top: 20px;
  }
}

.line {
    height: 1.45px;
    width: 100%;
    background-color: rgb(224, 224, 224);
    margin-top: 20px
  }

  button{
    background-color: black;
    color: white;
    width: 4.8rem;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin: 20px;
    border-radius: 4px;
    margin-left: 90%;
    cursor: pointer;

    p{
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 0px;
    }

    img{
      width: 15px;
      height: 15px;
      transform: rotate(90deg);
      filter: brightness(0) saturate(100%) invert(100%);
    }
  }