<div class="addHelperpage">
    <app-form-tracker [categ]="category"></app-form-tracker>
    <form [formGroup]="helperForm" (ngSubmit)="submitHelperForm()">

        <!-- Page1 -->
        <app-helperform-page1 [form]="helperForm" *ngIf="category() == 1" class="helperform"
            (changePage)="pageChanged($event)" (profileFileSelected)="onProfileFileSelected($event, helperForm.value)"
            (profilePreviewGenerated)="onProfilePreviewGenerated($event)" (kycFileSelected)="onKycFileSelected($event)">
        </app-helperform-page1>

        <!-- Page2 -->
        <app-helperform-page2 [form]="helperForm" *ngIf="category() == 2" class="helperform"
            (changePage)="pageChanged($event)" [categoryNum]="category()"
            (fileSelected)="onProfileFileSelected($event, helperForm.value)">
        </app-helperform-page2>



        <app-helperform-page3 [form]="helperForm" [profilePreviewUrl]="profilePreviewUrl" *ngIf="category() == 3" class="helperform"
            (changePage)="pageChanged($event)" (submitForm)="submitHelperForm()">
        </app-helperform-page3>

    </form>
</div>