.sidebar{
    width: 20vw;
    background-color: rgb(244, 245, 250);
    padding: 27px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100vh;
    overflow-y: auto;

    .heading{
        display: flex;
        margin-left: 5px;

        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;

            img{
                width: 34px;
                height: 34px;
            }
        }
        
        .title{
            small{
                font-size: 9.5px;
                font-weight: 600;
                letter-spacing: -0.05px;
            }

            p{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: -3.5px;
                margin-top: 6.5px;
            }
        }

    }


    .search-bar{
        border: 2px solid rgb(211, 211, 211);
        display: flex;
        background-color: white;
        width: 100%;
        height: 40px;
        margin: 20px auto;
        border-radius: 5px;

        img {
            width: 20px;
            height: 20px;
            position: relative;
            left: 10px;
            top: 8px;
        }

        input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding: 5px;
            padding-left: 15px;

            &::placeholder{
                color: rgb(164, 164, 164);
                font-size: 15px;
            }
        }
    }

    .sidebar-links {
        margin-top: 28px;

        .items {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;

            .dropdown {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;

                img {
                    width: 12px;
                    height: 16px;
                }

                p{
                    color: rgb(129, 129, 129);
                    font-size: 11.8px;
                    margin: 5px;
                    letter-spacing: 0.6px;
                    font-weight: 400;
                }
        
            }

            &:hover{
                .dropdown{
                    background-color: rgb(221, 228, 247);
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding-left: 0px;

                li{
                    list-style-type: none;
                    padding: 6px 0px;
                    border-radius: 5px;
                    color: #000;
                    font-size: 13.8px;
                    display: flex;
                    align-items: center;
                    transition: background 0.2s, color 0.2s;
                    letter-spacing: 0.2px;
                    font-weight: 500;

                    &:hover{
                        background-color: rgb(221, 228, 247);
                        color: rgb(75, 37, 200);
                    }

                    &.selected{
                        background-color: rgb(222, 230, 250);
                        color: rgb(75, 37, 200);
                        font-weight: 600;
                    }

                    img{
                        width: 21.3px;
                        height: 14.3px;
                        margin-right: 10px;
                    }
                }

                li.selected{
                    background-color: rgb(222, 230, 250);
                    color: rgb(75, 37, 200);
                }
            }
        }
    }

}